@page "/fetchdata"
@using ParcelHandling.Shared
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (departments == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var department in departments)
            {
                <tr>
                    <td>@department.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    
    private Department[]? departments;

    protected override async Task OnInitializedAsync()
    {
        departments = await Http.GetFromJsonAsync<Department[]>("Department");
    }
}
