@page "/"
@using ParcelHandling.Shared
@inject HttpClient Http

<PageTitle>ParcelHandling</PageTitle>

<nav class="navbar navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="#">ParcelHandling</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a @onclick=@(e => SetCurrentDepartment(null)) class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                    
                @if (departments != null) {

                    foreach (var dept in departments)
                    {
                        <li class="nav-item">
                            <a @onclick=@(e => SetCurrentDepartment(dept)) class="nav-link" href="#">@dept.Name</a>
                        </li>
                    }
                }

            </ul>
        </div>
    </div>
</nav>
    
<div>

    @if (_currentDepartment != null)
    {
        <h1>Welcome to department @_currentDepartment.Name!</h1>

        @if (_parcelsOfCurrentDepartment != null && _parcelsOfCurrentDepartment.Any())
        {
            <div>The following parcels are waiting to be handled:</div>
            <div class="row row-cols-3 row-cols-md-2 g-4">

                @foreach (var parcel in _parcelsOfCurrentDepartment)
                {
                    <ParcelComponent Parcel=parcel/>
                }

            </div>
        }
        else
        {
            <div>No parcels found.</div>
        }
    }

</div>

@code {

    private Department[]? departments;

    private Department? _currentDepartment;
    private IEnumerable<Parcel>? _parcelsOfCurrentDepartment;

    protected override async Task OnInitializedAsync()
    {
        departments = await Http.GetFromJsonAsync<Department[]>("Department");
    }

    private async Task SetCurrentDepartment(Department? department)
    {
        _currentDepartment = department;
        await RefreshParcelsOfCurrentDepartment();
    }

    private async Task Handle(Parcel parcel, ParcelState state)
    {
        if (parcel != null)
        {
            try
            {
                parcel.State = state;
                await Http.PutAsJsonAsync($"Parcel", parcel);
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex);
            }

            await RefreshParcelsOfCurrentDepartment();
        }
    }

    private async Task RefreshParcelsOfCurrentDepartment()
    {
        if (_currentDepartment != null)
        {
            try
            {
                _parcelsOfCurrentDepartment = await Http.GetFromJsonAsync<Parcel[]>($"Parcel/{_currentDepartment.Name}");

            }
            catch (Exception ex)
            {
                Console.WriteLine(ex);
                _parcelsOfCurrentDepartment = Array.Empty<Parcel>();
            }
        }
        else
        {
            _parcelsOfCurrentDepartment = Array.Empty<Parcel>();
        }

        StateHasChanged();
    }
}
